[run]
source = cast
branch = True
command_line = runtests.py tests

[report]
omit =
    *migrations*
show_missing = True
exclude_lines =
    pragma: no cover
    raise NotImplementedError
    if TYPE_CHECKING:
