exclude: "^.*(migrations|fluent_comments).*$"
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-added-large-files
      - id: check-yaml
      - id: check-toml
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.10.1
    hooks:
      - id: pyupgrade
        args: [--py39-plus]
  - repo: https://github.com/adamchainz/django-upgrade
    rev: 1.14.1
    hooks:
      - id: django-upgrade
        args: [--target-version, "4.1"]
  - repo: https://github.com/psf/black
    rev: 23.7.0
    hooks:
      - id: black
        language_version: python3.11
  - repo: https://github.com/timothycrosley/isort
    # isort config is in setup.cfg
    rev: 5.12.0
    hooks:
      - id: isort
        language_version: python3
  - repo: https://github.com/PyCQA/flake8
    # flake8 config is in setup.cfg
    rev: 6.1.0
    hooks:
      - id: flake8
        language_version: python3
  - repo: https://github.com/rtts/djhtml
    rev: "3.0.6"  # replace with the latest tag on GitHub
    hooks:
      - id: djhtml
        args: [-t, "2"]
#  - repo: https://github.com/pre-commit/mirrors-mypy
#    rev: 'v1.5.0'  # Use the sha / tag you want to point at
#    hooks:
#      - id: mypy
#        exclude: "[a-zA-Z]*/(migrations)|(docs)|(example)/(.)*"
#        args: [--no-strict-optional,
#               --ignore-missing-imports]
#        additional_dependencies:
#          - crispy_bootstrap4
#          - dj-inmemorystorage
#          - django-allauth
#          - django-crispy-forms
#          - django-debug-toolbar
#          - django-environ
#          - django_extensions
#          - django-filter
#          - django-fluent-comments
#          - django-htmx
#          - django-modelcluster
#          - django-model-utils
#          - django-stubs[compatible-mypy]
#          - django-taggit
#          - django-threadedcomments
#          - psycopg2
#          - Pygments
#          - python-slugify
#          - wagtail
#          - wagtail_srcset
#          - types-python-slugify
