exclude: "^.*(migrations|fluent_comments).*$"
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-added-large-files
      - id: check-yaml
      - id: check-toml
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.21.2
    hooks:
      - id: pyupgrade
        args: [--py311-plus]
  - repo: https://github.com/adamchainz/django-upgrade
    rev: 1.29.1
    hooks:
      - id: django-upgrade
        args: [--target-version, "4.2"]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.11
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format
  - repo: https://github.com/rtts/djhtml
    rev: "3.0.10"  # replace with the latest tag on GitHub
    hooks:
      - id: djhtml
        args: [-t, "2"]
#  - repo: https://github.com/pre-commit/mirrors-mypy
#    rev: 'v1.11.2'  # Use the sha / tag you want to point at
#    hooks:
#      - id: mypy
#        exclude: "[a-zA-Z]*/(migrations)|(docs)|(example)/(.)*"
#        args: [--no-strict-optional,
#               --ignore-missing-imports]
#        additional_dependencies:
#          - crispy_bootstrap4
#          - dj-inmemorystorage
#          - django-allauth
#          - django-crispy-forms
#          - django-debug-toolbar
#          - django-environ
#          - django_extensions
#          - django-filter
#          - django-fluent-comments
#          - django-htmx
#          - django-modelcluster
#          - django-model-utils
#          - django-stubs[compatible-mypy]
#          - django-taggit
#          - django-threadedcomments
#          - django-vite
#          - psycopg[binary]
#          - Pygments
#          - python-slugify
#          - setuptools
#          - types-pytz
#          - wagtail
#          - wagtail_srcset
#          - types-python-slugify
