include AUTHORS.rst
include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.rst
recursive-include cast *.html *.png *.gif *js *.css *jpg *jpeg *svg *py *po *mo
recursive-include docs *
