# Models
django-model-utils

# Images
Pillow

# File upload
django-filepond

# wysiwig editor
django-ckeditor

# imagekit for resized images, thumbnails..
django-imagekit

# fulltext search
django-watson

# queryset filtering
django-filter

# search / filter forms
django-crispy-forms

# slugs
python-slugify

# docs
Sphinx
sphinx-rtd-theme

# package upload
twine

# docs
sphinx_rtd_theme
