# Models
django-model-utils

# Unicode slugification
python-slugify

# Images
Pillow

# wysiwig editor
django-ckeditor

# imagekit for resized images, thumbnails..
django-imagekit

# docs
Sphinx
sphinx-rtd-theme

# package upload
twine

# docs
sphinx_rtd_theme
