{% load static i18n %}<!DOCTYPE html>
<html lang="en">
  <head>
    {% block meta %}
      <meta charset="utf-8">
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="description" content="{{ page.search_description }}">
      <meta name="author" content="{{ page.author_name | title}}">
    {% endblock %}

    {% block css %}
      <link href="{% static 'cast/css/bootstrap4/cast.css' %}" rel="stylesheet">
    {% endblock %}
  </head>

  <body>
    <div class="container">

      {% block content %}
        <p>Use this document as a way to quick start any new project.</p>
      {% endblock content %}

    </div> <!-- /container -->

    {% block modal %}{% endblock modal %}

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {% block javascript %}
    {% endblock javascript %}
  </body>
</html>
