{% if is_paginated %}
  <nav aria-label="Page navigation" class="cast-page-navigation">
    <ul class="cast-pagination">
      {% if has_previous %}
        <!-- previous page -->
        <li class="cast-page-item">
          <a
            hx-get="?page={{ previous_page_number }}{{ parameters }}"
            hx-target="#paging-area"
            hx-swap="innerHTML show:top"
            hx-replace-url="true"
            href="?page={{ previous_page_number }}{{ parameters }}"
            class="cast-page-link"
          >
            Previous
          </a>
        </li>
      {% else %}
        <!-- we are already on the first page -->
        <li class="cast-page-item disabled">
          <span class="cast-page-link-disabled">
            Previous
          </span>
        </li>
      {% endif %}
      <!-- page numbers -->
      {% for num in page_range %}
        {% if num == ellipsis %}
          <!-- ... -->
          <li class="cast-page-item disabled">
            <span class="cast-page-link-disabled">{{ num }}</span>
          </li>
        {% elif num == page_number %}
          <!-- currently active page -->
          <li class="cast-page-item active">
            <span class="cast-page-link-active">{{ num }}</span>
          </li>
        {% else %}
          <!-- clickable links to other page numbers -->
          <li class="cast-page-item">
            <a
              hx-get="?page={{ num }}{{ parameters }}"
              hx-target="#paging-area"
              hx-swap="innerHTML show:top"
              hx-replace-url="true"
              href="?page={{ num }}{{ parameters }}"
              class="cast-page-link"
            >{{ num }}</a>
          </li>
        {% endif %}
      {% endfor %}
      {% if has_next %}
        <!-- next page -->
        <li class="cast-page-item">
          <a
            hx-get="?page={{ next_page_number }}{{ parameters }}"
            hx-target="#paging-area"
            hx-swap="innerHTML show:top"
            hx-replace-url="true"
            href="?page={{ next_page_number }}{{ parameters }}"
            class="cast-page-link"
          >
            Next
          </a>
        </li>
      {% else %}
        <!-- we are already on the last page -->
        <li class="cast-page-item disabled">
          <span class="cast-page-link-disabled">
            Next
          </span>
        </li>
      {% endif %}
    </ul>
  </nav>
{% endif %}
