<div class="cast-gallery">
  <ul class="cast-gallery-list">
    {% for entry in gallery_entries %}
      {% with image=entry.image %}
      <li class="cast-gallery-item">
      {% if entry.caption %}<figure class="cast-gallery-figure">{% endif %}
        <a class="cast-gallery-link" href="{{ image.modal.src.jpeg }}">
          <picture>
            <source
              srcset="{{ image.thumbnail.srcset.avif }}"
              type="image/avif"
              sizes="{{ image.thumbnail.sizes }}"
            >
            <img
              class="cast-gallery-thumbnail"
              alt="{{ image.default_alt_text }}"
              src="{{ image.thumbnail.src.jpeg }}"
              srcset="{{ image.thumbnail.srcset.jpeg }}"
              sizes="{{ image.thumbnail.sizes }}"
              width="{{ image.thumbnail.width }}"
              height="{{ image.thumbnail.height }}"
              loading="lazy"
            />
          </picture>
        </a>
    {% if entry.caption %}<figcaption>{{ entry.caption }}</figcaption></figure>{% endif %}
      </li>
      {% endwith %}
    {% endfor %}
  </ul>
</div>
