{% extends "./base.html" %}
{% load i18n %}
{% load static %}
{% load django_vite %}

{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% if comments_are_enabled %}
  {% load comments %}
{% endif %}

{% block css %}
  {{ block.super }}
  {% if comments_are_enabled %}
    <link rel="stylesheet" type="text/css" href="{% static 'fluent_comments/css/ajaxcomments.css' %}" />
  {% endif %}
{% endblock css %}

{% block meta %}
  {{ block.super }}
  <link rel="canonical" href="{{ absolute_page_url }}">
  {% block social_meta %}
    {% include "cast/includes/post_social_meta.html" %}
  {% endblock social_meta %}
{% endblock meta %}

{% block robots %}
  {% if blog.noindex %}
    <meta name="robots" content="noindex, nofollow">
  {% else %}
    <meta name="robots" content="index, follow">
  {% endif %}
{% endblock robots %}

{% block title %}<title>{{ page.seo_title|default:page.title }}</title>{% endblock title %}

{% block description %}
  <meta name="description" content="{{ page.search_description|default:page.title }}">
{% endblock description %}

{% block main %}
  {% include "./post_body.html" with render_detail=True podlove_load_mode="facade" %}

  {% if comments_are_enabled %}
    {% render_comment_list for page %}
    {% render_comment_form for page %}
  {% endif %}

  <p><a href="{{ blog_url }}">Return to blog</a></p>

{% endblock %}

{% block javascript %}
  {{ block.super }}
  {% if use_custom_audio_player %}
    {% vite_hmr_client app="cast" %}
    {% vite_asset 'src/audio/custom-player.ts' app="cast" %}
  {% endif %}
  {% if comments_are_enabled %}
    <script defer type="text/javascript" src="{% static 'fluent_comments/js/ajaxcomments.js' %}"></script>
  {% endif %}
{% endblock javascript %}
