{% extends "cast/cast_base.html" %}
{% load static %}
{% load threadedcomments_tags %}

{% block content %}
<a class="btn btn-secondary btn-lg" href="{% url "cast:post_list" slug=post.blog.slug %}" role="button">Back to Blog</a>
{% if user.is_authenticated %}
  <a class="btn btn-primary btn-lg" role="button" href="{% url "cast:post_update" blog_slug=post.blog.slug slug=post.slug %}">Update Entry</a>
{% endif %}
<article>
  <header>
    <h1>{{ post.title }}</h1>
    <a href="{% url "cast:post_detail" blog_slug=post.blog.slug slug=post.slug %}">
        <time date-time="{{ post.visible_date|date:"c" }}">{{ post.visible_date|date}}</time>
    </a>
    <span class="author">{{ post.author.username | title}}</span>
  </header>
  <section>
    {{ post.description|safe }}
  </section>
</article>

<h2>Comments for {{ post.title }}:</h2>

<div class="comments_wrapper" id="comments">
    {% render_comment_list for post %}

    <div id="wrap_write_comment">
              
      <div id="form-comment">
      {% render_comment_form for post %}
      </div>

    </div>
</div>
{% endblock content %}


{% block javascript %}
{{ block.super }}
  <script src="{% static 'js/cast/gallery.js' %}"></script>
  {% if post.has_audio %}
    <script src="https://cdn.podlove.org/web-player/embed.js"></script>
    {% for pk, audio in post.media_lookup.audio.items %}
      <script>podlovePlayer("#audio_{{pk}}", "{{audio.podlove_url}}");</script>
    {% endfor %}
  {% endif %}

  <script type="text/javascript">
      function show_reply_form(event) {
          var $this = $(this);
          var comment_id = $this.data('comment-id');
          $('#id_parent').val(comment_id);
          $('#form-comment').insertAfter($this.closest('.comment'));
      };
      function cancel_reply_form(event) {
          $('#id_comment').val('');
          $('#id_parent').val('');
          $('#form-comment').appendTo($('#wrap_write_comment'));
      }
      $.fn.ready(function() {
          $('.comment_reply_link').click(show_reply_form);
          $('#cancel_reply').click(cancel_reply_form);
      })
  </script>

  {% endblock javascript %}
