name: Workflow for Codecov
on: [push]
jobs:
  run:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        python-version: ['3.11', '3.12', '3.13', '3.14']
    env:
      OS: ${{ matrix.os }}
      PYTHON: ${{ matrix.python-version }}
    steps:
    - uses: actions/checkout@main
    - name: Install uv
      uses: astral-sh/setup-uv@v5

    - name: Setup Python
      run: uv python install ${{ matrix.python-version }}

    - name: Install ffmpeg
      uses: FedericoCarboni/setup-ffmpeg@v2
      id: setup-ffmpeg
    - name: Generate coverage report
      run: |
        uv venv
        uv pip install -e .[dev]
        uv run python manage.py migrate
        uv run python -m pytest --cov=cast --cov-report=xml
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v4
      with:
        env_vars: OS,PYTHON
        fail_ci_if_error: true
        flags: unittests
        name: codecov-umbrella
        token: ${{ secrets.CODECOV_TOKEN }}  # configure in actions section of secrets
        verbose: true
